
name: R builds (macos)

on:
  push
  # workflow_dispatch:
  #   inputs:
  #     platforms:
  #       description: |
  #         Comma-separated list of platforms. Default is "all" to use all platforms.
  #       required: false
  #       default: 'all'
  #       type: string
  # schedule:
  #   - cron:  '55 2 * * *'

permissions:
  contents: write

jobs:
  package-files:
    strategy:
      fail-fast: false
    runs-on: macos-latest
    name: macos-san
    steps:
      - uses: actions/checkout@v4

      - name: Build R
        run: |
          brew install svn

          svn checkout https://svn.r-project.org/R/trunk/ R-devel
          pushd R-devel # or R-patched
          ./tools/rsync-recommended

          # fortran
          curl -LO https://github.com/R-macos/gcc-14-branch/releases/download/gcc-14.2-darwin-r2.1/gfortran-14.2-darwin20-r2-universal.tar.xz
          sudo tar -xvf gfortran-14.2-darwin20-r2-universal.tar.xz -C /
          sudo ln -sfn $(xcrun --show-sdk-path) /opt/gfortran/SDK

          # latex
          curl -LO https://mirror.ctan.org/systems/mac/mactex/MacTeX.pkg
          sudo installer -pkg MacTeX.pkg -target /

          # X11
          curl -LO https://github.com/XQuartz/XQuartz/releases/download/XQuartz-2.8.5/XQuartz-2.8.5.pkg
          sudo installer -pkg XQuartz-2.8.5.pkg -target /

          git clone https://github.com/R-macos/recipes.git
          pushd recipes
          export PREFIX=/opt/R/$(uname -m)
          sudo -E bash ./build.sh r-base-dev
          popd

          export PATH=/opt/R/$(uname -m)/bin:${PATH}


          mkdir _build
          pushd _build


          curl -LO https://github.com/r-devel/r-dev-web/blob/c92348aef984439d8ba8149dded662f4530505e5/CRAN/QA/BDR/M1mac/SAN/config.site

          ../configure -C \
          --enable-R-shlib --enable-memory-profiling \
          --with-tcl-config=/opt/R/arm64/lib/tclConfig.sh \
          --with-tk-config=/opt/R/arm64/lib/tkConfig.sh \
          --without-lapack \
          PKG_CONFIG_PATH=/opt/R/arm64/lib/pkgconfig:/usr/lib/pkgconfig

          make -j 4
          make check



      - name: Copy package
        run: |
          pkg=$(find integration -name "*.deb" -or -name "*.rpm")
          cp "$pkg" .
          ls -l "$pkg"

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            *-rstudio-*.deb
            *-rstudio-*.rpm
          name: "Latest builds"
          tag_name: latest
